<h2><%= @user.username.capitalize%>'s Homepage</h2>

<p>
    <ul>
        <li><h4><%= link_to "Current Orders", orders_path %></h3></li>
        <li><h4><%= link_to "Build New Computer", new_user_computer_path(@user) %></h3></li>
    </ul>
</p>