<h2><%= current_user.username.capitalize%>'s Orders</h2>




<p>
    <ul>
        <%current_user.orders.each do |order|%>
            <h5><li><%= link_to "Order # #{order.id}", user_computer_path(order.current_user,order.computer)%></li></h5>
        <%end%>
    </ul>
</p>