<h2><%= current_user.username.capitalize%>'s Orders</h2>




<p>
    <ul>
        <%@number = 0 %>
        <% @orders.each do |order|%>
            <%@number += 1 %>
            <h5><li><%= link_to "Order # #{@number}", order_path(order)%></li></h5>
        <%end%>
    </ul>
</p><br>
<%= link_to "Create An Order", new_order_path %>