<h2><%= @user.username%>'s Orders</h2>




<p>
    <ul>
        <%@orders.each do |order|%>
            <h5><li><%= link_to "Order # #{order.id}", user_computer_path(order.user,order.computer)%></li></h5>
        <%end%>
    </ul>
</p>