<h2><%= current_user.username.capitalize%>'s Orders</h2>




<p>
    <ul>
        <%@orders.each do |order|%>
            <h5><li><%= link_to "Order # #{order.id}", user_orders_path(order.users)%></li></h5>
        <%end%>
    </ul>
</p><br>
<%= link_to "Create An Order", new_user_order_path(current_user) %>